@font-face {
  font-family: 'Akzidenz Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/AkzidenzGrotesk-Regular.otf") format('opentype');
}
@font-face {
  font-family: 'Akzidenz Grotesk';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/AkzidenzGrotesk-Italic.otf") format('opentype');
}
@font-face {
  font-family: 'Akzidenz Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/AkzidenzGrotesk-Medium.otf") format('opentype');
}
@font-face {
  font-family: 'Akzidenz Grotesk';
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/AkzidenzGrotesk-MediumItalic.otf") format('opentype');
}
@font-face {
  font-family: 'Akzidenz Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/AkzidenzGrotesk-BoldExtended.otf") format('opentype');
}
@font-face {
  font-family: 'Akzidenz Grotesk';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/AkzidenzGrotesk-BoldExtendedItalic.otf") format('opentype');
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
}
.irbefore {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  margin: -1px;
  padding: 0;
}
.visuallyhidden.focusableactive,
.visuallyhidden.focusablefocus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;
  margin: 0;
}
.invisible {
  visibility: hidden;
}
.clearfixbefore,
.clearfixafter {
  content: " ";
  display: table;
}
.clearfixafter {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.flag {
  display: table;
  width: 100%;
}
.flag__image,
.flag__body {
  display: table-cell;
  vertical-align: middle;
}
.flag--top {
  vertical-align: top;
}
.flag--bottom {
  vertical-align: bottom;
}
.flag__image {
  padding-right: 10px;
}
.flag__image img {
  display: block;
  max-width: none;
}
.flag--rev {
  padding-right: 0;
  padding-left: 10px;
}
.flag__body {
  width: 100%;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #000;
}
.halfCircle-up {
  height: 20px;
  width: 40px;
  border-radius: 40px 40px 0 0;
  -moz-border-radius: 40px 40px 0 0;
  -webkit-border-radius: 40px 40px 0 0;
  background: #000;
}
.halfCircle-down {
  height: 20px;
  width: 40px;
  border-radius: 0 0 40px 40px;
  -moz-border-radius: 0 0 40px 40px;
  -webkit-border-radius: 0 0 40px 40px;
  background: #000;
}
.halfCircle-right {
  height: 40px;
  width: 20px;
  border-radius: 0 40px 40px 0;
  -moz-border-radius: 0 40px 40px 0;
  -webkit-border-radius: 0 40px 40px 0;
  background: #000;
}
.halfCircle-left {
  height: 40px;
  width: 20px;
  border-radius: 40px 0 0 40px;
  -moz-border-radius: 40px 0 0 40px;
  -webkit-border-radius: 40px 0 0 40px;
  background: #000;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body {
  margin: 0;
  padding: 0;
/* min-width 1024px */
  color: #fff;
  background: #f2f2f2;
  font-family: 'Akzidenz Grotesk', helvetica, monaco, monospaced;
}
h1 {
  font-size: 2.5em;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 0 auto 40px auto;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 1em;
  }
}
h1.big {
  font-size: 1em;
  color: #fff;
  font-size: 3em;
}
h1.big a {
  color: #fff;
  font-weight: 800;
  text-transform: lowercase;
}
h1.big a:hover {
  color: #e54115;
}
@media screen and (max-width: 768px) {
  h1.big {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 450px) {
  h1.big {
    font-size: 1.2em;
  }
}
h2 {
  font-size: 1.2em;
  font-weight: 800;
  margin: 0 auto 20px auto;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  h2 {
    font-size: 0.9em;
  }
}
h3 {
  font-size: 1.1em;
  font-weight: 800;
  margin: 0 auto 20px auto;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  h3 {
    font-size: 0.8em;
  }
}
h4 {
  font-size: 1em;
  font-weight: 600;
  margin: 0 auto 20px auto;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
}
@media screen and (max-width: 450px) {
  h4 {
    font-size: 0.01em;
  }
}
h5 {
  font-size: 1em;
  font-weight: 200;
  margin: 0 auto 20px auto;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  h5 {
    font-size: 0.01em;
  }
}
p {
  margin: auto;
  font-size: 1em;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}
.big {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.4em;
}
@media screen and (max-width: 450px) {
  .big {
    font-size: 1em;
    font-weight: 100;
  }
}
strong {
  font-weight: 600;
}
a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
  cursor: pointer;
}
a:hover,
a.active {
  color: #e54115;
}
main {
  background: #f2f2f2;
  color: #000;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.padding-top {
  padding-top: 40px;
}
.padding-bottom {
  padding-bottom: 40px;
}
.wrapper {
  width: 80%;
/* max-width 1280px */
  display: block;
  margin: auto;
/* min-width 780px */
}
.full-width {
  width: 100%;
}
.black-wrapper {
  color: #fff;
  background: #000;
  padding: 0 0 20px 0;
  margin: auto;
}
.black-wrapper h1 {
  margin: auto;
}
.red-message {
  color: #e54115;
  margin: 0 auto 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #e54115;
  padding: 10px;
  width: 100%;
  text-align: center;
  line-height: 1.2em;
}
.red-message strong {
  text-transform: uppercase;
  margin: 0 10px 0 0;
}
.temario {
  background: #e3e3e3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
}
.temario h3 {
  width: 100%;
  text-align: left;
}
.left-border {
  border-left: 1px solid #000;
  padding: 0 0px 0 20px;
}
.list-decorative {
  list-style: inside;
}
.titles {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1em;
}
@media screen and (max-width: 768px) {
  .titles {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 450px) {
  .titles {
    font-size: 1em;
  }
}
.titles li {
  margin: 10px 0 10px 0;
}
.titles li:first-child {
  margin: 0px 0 10px 0;
}
.titles li:last-child {
  margin: 10px 0 0 0;
}
.titles a {
  color: #000;
  -webkit-transition: color ease 0.2s;
  -moz-transition: color ease 0.2s;
  -o-transition: color ease 0.2s;
  -ms-transition: color ease 0.2s;
  transition: color ease 0.2s;
}
.titles a:hover,
.titles a.active {
  color: #e54115;
}
.nav-menu {
  font-size: 0.6em;
  letter-spacing: 0.25em;
}
.nav-menu ul {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.gray-bg {
  background-color: #e3e3e3;
}
.black-background {
  background-color: #000;
}
.black-background .big {
  color: #fff;
}
.margin {
  width: 100%;
  display: block;
  padding: 20px 0 20px 0;
  background-color: transparent;
}
.video-wrapper {
  width: 100%;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  position: relative;
  overflow: hidden;
  display: block;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider-wrapper {
  position: relative;
}
.slider-controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  z-index: 1000;
}
.slider-controls .arrow {
  display: block;
  width: 25px;
  height: auto;
  cursor: pointer;
}
.slider-controls .arrow-next {
  margin: 0 1% 0 0;
}
.slider-controls .arrow-prev {
  margin: 0 0 0 1%;
}
.arrow {
  display: block;
  width: 25px;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 1000;
}
.arrow-next {
  right: 1%;
  transfrom: translate(0, -50%);
}
.arrow-prev {
  left: 1%;
  transfrom: translate(0, -50%);
}
.white-text {
  color: #fff;
}
.two-column {
  margin: 0 auto 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 0 2% 0;
}
.two-column .column {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .two-column .column {
    height: auto;
  }
}
.two-column .column:first-child {
  width: 40%;
}
@media screen and (max-width: 1024px) {
  .two-column .column:first-child {
    margin: 20px 0 0 0;
    width: 100%;
  }
}
.two-column .column:last-child {
  width: 58%;
}
@media screen and (max-width: 1024px) {
  .two-column .column:last-child {
    margin: 20px 0 0 0;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .two-column .mobile-column:first-child {
    width: 40%;
    margin: 0;
  }
}
@media screen and (max-width: 1024px) and (max-width: 768px) {
  .two-column .mobile-column:first-child {
    width: 100%;
    margin: 20px 0 0 0;
  }
}
@media screen and (max-width: 1024px) {
  .two-column .mobile-column:last-child {
    width: 58%;
    margin: 0;
  }
}
@media screen and (max-width: 1024px) and (max-width: 768px) {
  .two-column .mobile-column:last-child {
    width: 100%;
    margin: 20px 0 0 0;
  }
}
.contact_form {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
/*     &::placeholder */
}
.contact_form fieldset {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 49%;
  items-algin: stretch;
}
@media screen and (max-width: 768px) {
  .contact_form fieldset {
    width: 100%;
    margin: 20px 0 0 0;
  }
}
@media screen and (max-width: 768px) {
  .contact_form fieldset:first-child {
    margin: 0;
  }
}
.contact_form fieldset.enviar {
  width: 100%;
  margin: 20px 0 0 0;
  display: block;
  text-align: right;
}
.contact_form p,
.contact_form span {
  width: 100%;
  display: block;
}
.contact_form span {
  font-weight: 200;
}
.contact_form input,
.contact_form textarea {
  width: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin: 0;
  color: #fff;
  background: transparent;
  font-weight: 600;
  font-size: 1em;
  font-family: 'Akzidenz Grotesk', helvetica, monaco, monospaced;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #fff;
  margin: 20px auto 20px auto;
  padding: 15px 0 15px 0;
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
.contact_form input:first-child,
.contact_form textarea:first-child {
  margin: 0 auto 10px auto;
}
.contact_form input:last-child,
.contact_form textarea:last-child {
  margin: 10px auto 0 auto;
}
.contact_form input::placeholder,
.contact_form textarea::placeholder {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
}
.contact_form input:focus,
.contact_form textarea:focus,
.contact_form input:invalid,
.contact_form textarea:invalid {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #e54115;
}
.contact_form input:invalid,
.contact_form textarea:invalid {
  color: #e54115;
}
.contact_form input[type="submit"],
.contact_form textarea[type="submit"] {
  color: #e54115;
  border: 2px solid #e54115;
  background-color: transparent;
  width: 100px;
  margin: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  display: inline-block;
}
.contact_form input[type="submit"]:hover,
.contact_form textarea[type="submit"]:hover {
  background-color: #e54115;
  color: #fff;
}
.contact_form input[type="radio"],
.contact_form textarea[type="radio"] {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  display: none;
}
.contact_form input[type="radio"]:focus+label,
.contact_form textarea[type="radio"]:focus+label,
.contact_form input[type="radio"]:checked+label,
.contact_form textarea[type="radio"]:checked+label {
  color: #e54115;
}
.contact_form input[type="radio"]:disabled+label,
.contact_form textarea[type="radio"]:disabled+label {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.contact_form input[type="radio"]+label,
.contact_form textarea[type="radio"]+label {
  font-weight: 200;
  cursor: pointer;
  width: 100%;
  display: block;
  margin: 5px auto 5px auto;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.contact_form input[type="radio"]+label:first-of-type,
.contact_form textarea[type="radio"]+label:first-of-type {
  margin: 20px auto 5px auto;
}
.contact_form input[type="radio"]+label:last-of-type,
.contact_form textarea[type="radio"]+label:last-of-type {
  margin: 5px auto 0 auto;
}
.contact_form textarea {
  resize: none;
  overflow: auto;
  font-size: 1.25em;
}
.contact_form textarea::selection {
  background-color: #fff;
  color: #000;
}
.film-slider {
  height: auto;
  width: 100%;
  padding: 20px;
  max-width: none;
}
.film-slider article {
  width: 33.333%;
  position: relative;
  margin: 0 20px 0 20px;
}
.film-slider img {
  width: 100%;
  height: auto;
  display: block;
}
.film-slider .info {
  width: 100%;
  font-size: 1em;
  color: #000;
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.film-slider .info h3 {
  margin: 0;
}
.film-slider .slick-arrow {
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  border: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  content: "";
  z-index: 100;
  cursor: pointer;
}
.film-slider .slick-prev {
  left: 2%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.film-slider .slick-next {
  right: 2%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
footer {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #000;
  padding: 40px 0 40px 0;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
/* min-height 200px */
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
footer .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: end;
  align-items: end;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-height: 50px;
}
@media screen and (max-width: 768px) {
  footer .wrapper {
    min-height: 150px;
  }
}
footer .wrapper:first-child {
  margin: 0 auto 10px auto;
}
footer .wrapper:last-child {
  margin: 10px auto 0 auto;
}
footer .wrapper .partners-container {
  margin: 0 0 0 0;
}
@media screen and (max-width: 768px) {
  footer .wrapper .partners-container {
    margin: 20px 0 0 0;
    width: 100%;
  }
}
footer .wrapper .partners-container .partner-list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}
footer .wrapper .partners-container .partner-item {
  max-width: 200px;
}
@media screen and (max-width: 768px) {
  footer .wrapper .partners-container .partner-item {
    max-width: 50%;
  }
}
footer .wrapper .partners-container .partner-item:not(:last-child) {
  margin-right: 10px;
}
footer .wrapper .partners-container .partner-title {
  width: 100%;
  text-align: center;
}
footer .wrapper .partners-container a img {
  width: 100%;
  display: block;
  height: auto;
}
footer .wrapper .copy {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  margin: 0;
  font-size: 0.5em;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 768px) {
  footer .wrapper .copy {
    line-height: 2em;
  }
}
footer .wrapper div {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
footer .wrapper div span {
  margin: 0 auto 10px auto;
}
footer .footer-info {
  letter-spacing: 0.3em;
}
footer .footer-info a {
  text-transform: lowercase;
}
@media screen and (max-width: 768px) {
  footer .footer-info {
    margin: 0 0 20px 0;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-info strong {
    line-height: 2em;
  }
}
footer .nav-menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
footer .nav-menu:first-child {
  width: 20%;
  text-align: left;
}
@media screen and (max-width: 768px) {
  footer .nav-menu:first-child {
    width: 100%;
  }
  footer .nav-menu:first-child ul {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 0 20px 0;
  }
  footer .nav-menu:first-child ul li {
    width: 50%;
    margin: 0 0 20px 0;
    text-align: left;
  }
}
footer .nav-menu:last-child {
  width: 80%;
  text-align: right;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start;
}
@media screen and (max-width: 768px) {
  footer .nav-menu:last-child {
    width: 100%;
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  footer .nav-menu ul {
    width: 100%;
  }
}
footer .nav-menu ul li {
  margin: 5px 0 5px 0;
}
footer .nav-menu ul li:first-child {
  margin: 0px 0 5px 0;
}
footer .nav-menu ul li:last-child {
  margin: 5px 0 0px 0;
}
footer .social {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 20%;
  font-size: 1.2em;
}
@media screen and (max-width: 768px) {
  footer .social {
    margin: 20px 0 0 0;
    width: 100%;
    text-align: center;
  }
}
footer .social ul {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
footer .social ul li {
  margin: 0 10px 0 0;
}
@media screen and (max-width: 768px) {
  footer .social ul {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
footer span {
  font-size: 0.7em;
}
header {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #000;
  padding: 40px 0 40px 0;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 160px;
  text-transform: uppercase;
}
header .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
header a,
header img,
header .nav-menu {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
header .nav-menu {
  text-align: right;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
header .nav-menu ul {
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
header .nav-menu ul li {
  margin: 0 0 8px 0;
}
header .nav-menu ul li:last-child {
  margin: 0 0 0 0;
}
header img {
  width: auto;
}
.horizontal-line {
  width: 80%;
  height: 1px;
  background: #fff;
  margin: 20px auto 20px auto;
  clear: both;
}
.hamburguer-menu {
  text-align: right;
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-size: 1.5em;
  cursor: pointer;
}
.exit-menu {
  height: 50px;
  width: 80%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: absolute;
  top: 6%;
}
.exit-menu a,
.exit-menu img {
  display: block;
  height: 100%;
  width: auto;
}
.exit-menu a {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.exit-menu i {
  font-size: 2em;
}
.nav-menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.95);
  color: #fff;
  z-index: 10000;
  letter-spacing: 0.2em;
  line-height: 1.2em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-transform: uppercase;
  display: none;
}
.nav-menu-mobile ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 80%;
  margin: 0;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.nav-menu-mobile ul li {
  width: 100%;
  margin: 20px 0 0 0;
}
.nav-menu-mobile ul li:first-child {
  margin: 0 0 0 0;
}
.big-header {
  height: auto;
  width: auto;
  display: block;
  position: relative;
}
@media screen and (max-width: 768px) {
  .big-header {
    padding: 40px 0 0 0;
  }
}
.big-header .wrapper {
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .big-header .wrapper {
    position: inherit;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 0;
    left: 0;
    height: 50px;
  }
}
.big-header .header-video-wrapper {
  width: 75%;
  max-width: 1024px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .big-header .header-video-wrapper {
    width: 100%;
  }
}
.red-message-link {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  padding: 0;
  margin: 0;
}
.red-message-link:hover,
.red-message-link.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.red-message-link a {
  color: #e54115;
  width: 100%;
  height: 100%;
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.guia-messages,
.messages {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  margin: auto;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.guia-messages .red-message,
.messages .red-message {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  font-size: 0.7em;
  width: calc(100% / 4 - 2%);
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  padding: 0;
  margin: 0;
}
.guia-messages .red-message:hover,
.messages .red-message:hover,
.guia-messages .red-message.active,
.messages .red-message.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
@media screen and (max-width: 768px) {
  .guia-messages .red-message,
  .messages .red-message {
    width: calc(100% / 2 - 2%);
    margin: 20px 0 0 0;
  }
}
@media screen and (max-width: 450px) {
  .guia-messages .red-message,
  .messages .red-message {
    width: 100%;
    margin: 20px 0 0 0;
  }
}
.guia-messages a,
.messages a {
  color: #e54115;
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.guia-messages .red-message {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  font-size: 1em;
  width: calc(100% / 3 - 2%);
}
@media screen and (max-width: 768px) {
  .guia-messages .red-message {
    width: 100%;
  }
}
.guia-message {
  color: #fff;
  text-align: center;
}
.boutique-message {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  font-size: 1em;
  width: calc(100% / 3 - 2%);
  margin: auto;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .boutique-message {
    width: 100%;
  }
}
.boutique-message h3 {
  margin: 0;
}
.mosaicos {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  margin: auto;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.mosaicos article {
  font-size: 0.7em;
  width: calc(100% / 3 - 2%);
  padding: 0;
  margin: 0 0 20px 0;
}
@media screen and (max-width: 768px) {
  .mosaicos article {
    width: 100%;
  }
}
.mosaicos img {
  display: block;
  width: 100%;
  height: auto;
}
.mosaicos .cover {
  position: relative;
}
.mosaicos a {
  background-color: #e54115;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.mosaicos a:hover {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.mosaicos h3 {
  color: #fff;
  font-size: 1.3em;
  margin: 10px auto 10px auto;
  text-align: center;
}
.home-foto {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: #fff;
}
.home-foto img,
.home-foto div {
  width: calc(50% - 4%);
  display: block;
  height: auto;
}
@media screen and (max-width: 768px) {
  .home-foto img,
  .home-foto div {
    width: 100%;
    margin: 20px auto 0 auto;
  }
}
.home-foto div {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .home-foto div {
    width: 100%;
  }
}
.otras-escuelas {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
.otras-escuelas .escuela-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: auto;
  max-width: 350px;
  height: auto;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .otras-escuelas .escuela-item {
    width: 100%;
    max-width: none;
  }
}
.otras-escuelas .escuela-item:first-child {
  margin: 0 10px 0 0;
}
@media screen and (max-width: 768px) {
  .otras-escuelas .escuela-item:first-child {
    margin: 0 0 20px 0;
  }
}
.otras-escuelas .escuela-item:last-child {
  margin: 0 0 0 10px;
}
@media screen and (max-width: 768px) {
  .otras-escuelas .escuela-item:last-child {
    margin: 0;
  }
}
.otras-escuelas .escuela-item img {
  display: block;
  width: 100%;
  height: auto;
  border: none;
}
@-moz-keyframes FadeIn {
  0% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  2.38% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  34.13% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  36.51% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  100% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
}
@-webkit-keyframes FadeIn {
  0% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  2.38% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  34.13% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  36.51% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  100% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
}
@-o-keyframes FadeIn {
  0% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  2.38% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  34.13% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  36.51% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  100% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
}
@keyframes FadeIn {
  0% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  2.38% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  34.13% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  36.51% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  100% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
}
.personal-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.personal-grid article {
  width: 100%;
  margin: 0 auto 40px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.personal-grid .avatar {
  display: block;
  width: 28%;
  height: 300px;
  background-color: #e54115;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
@media screen and (max-width: 768px) {
  .personal-grid .avatar {
    width: 100%;
  }
}
.personal-grid .info {
  width: 70%;
}
@media screen and (max-width: 768px) {
  .personal-grid .info {
    margin: 20px 0 0 0;
    width: 100%;
  }
}
.personal-grid img {
  display: block;
  width: 100%;
  height: auto;
}
.rich-text {
  width: 100%;
  margin: 0px auto 0 auto;
}
.rich-text a {
  color: #e54115;
}
.rich-text strong {
  text-transform: uppercase;
}
.rich-text ul {
  margin: 20px auto 20px auto;
}
.rich-text li {
  margin: 5px 0 5px 0;
  padding: 0 0 0 10px;
  line-height: 1.25em;
  position: relative;
}
.rich-text li:first-child {
  margin: 0 0 5px 0;
}
.rich-text li:last-child {
  margin: 5px 0 0 0;
}
.rich-text li:before {
  content: '\2219';
  position: absolute;
  left: 0;
}
.rich-text article > :first-child {
  margin-top: 0;
}
.rich-text h3 {
  font-size: 1em;
  font-weight: 600;
  margin: 0 auto 20px auto;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
}
.rich-text h4 {
  font-size: 1em;
  font-weight: 200;
  margin: 0 auto 20px auto;
  text-transform: uppercase;
}
.video-grid-margin {
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 20px 0 0 0;
}
.video-grid-margin article {
  width: calc(100% / 3 - 3%);
}
@media screen and (max-width: 768px) {
  .video-grid-margin article {
    width: 100%;
    margin: 20px 0 0 0;
  }
}
.video-grid-margin a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.video-grid-margin a:hover {
  background: rgba(229,65,21,0.5);
}
.video-grid-margin .cover {
  width: 100%;
  padding: 0 0 70% 0;
  position: relative;
  background-color: #e54115;
  background-image: url("http://placehold.it/350x300");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 0 0 20px 0;
}
.video-grid-margin .play-button {
  height: 20%;
  width: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.video-grid-margin .info {
  font-size: 0.8em;
  text-align: center;
  line-height: 1.3em;
}
.video-grid-margin .info h3 {
  margin: 0;
}
.video-grid {
  height: auto;
  width: 100%;
  max-width: none;
  padding: 20px 0 0 0;
}
.video-grid article {
  width: calc(100% / 5);
  position: relative;
}
.video-grid a:hover > .info {
  background: #000;
}
.video-grid .cover {
  width: 100%;
  padding: 0 0 70% 0;
  background-color: #e54115;
  background-image: url("http://placehold.it/350x300");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.video-grid .info {
  width: 100%;
  font-size: 0.7em;
  line-height: 1.3em;
  position: absolute;
  bottom: 0%;
  height: 30%;
  color: #fff;
  background: rgba(0,0,0,0.5);
  padding: 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.video-grid .info:hover {
  background: #000;
}
.video-grid .info h3 {
  margin: 0;
}
.video-grid .play-button {
  position: absolute;
  width: 50px;
  height: auto;
  display: block;
  right: 10%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .hide-tablet {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .hide-desktop {
    display: none !important;
  }
}
