{% extends "base.html" %}
{% block header %}
{% include 'big_header.html' with header_video=single_curso.video %}
{% endblock %}
{% block content %}
<main>
    <div class="black-wrapper full-width">
        <div class="wrapper">
            <h1>Cursos / talleres</h1>
        </div>
    </div>
    <div class="wrapper">
        <article>
            <div class="margin"></div>
            <ul class="titles list-decorative">
                {% for curso in list_cursos %}
                <li>
                    <a 
                        class="{% if curso.active %}active{% endif %}"
                        href="{% url 'cursos' curso.slug %}">{{ curso.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="margin"></div>
            <div class="big rich-text">
                {{ single_curso.description | safe }}
            </div>
        </article>
    </div>
    <div class="margin"></div>
    <div class="wrapper">
        <section class="two-column">
            <div class="column">
                <div class="red-message">
                    <h3>{{ single_curso.message_title }}</h3>
                    <article>{{ single_curso.message_body | safe }}</article>
                </div>
                <div class="rich-text">
                    {{ single_curso.second_description | safe }}
                </div>
            </div>
            <div id="temario" class="column temario">
                <h3>Temario</h3>
                <div class="two-column">
                    <ul class="column mobile-column titles">
                        {% for item in list_temarios %}
                        <li>
                            <a 
                                class="{% if item.active %}active{% endif %}"
                                href="{% url 'cursos' single_curso.slug item.slug %}#temario">{{ item.title }}
                            </a>
                        </li>
                        {% endfor %}
                        <li><a href="{% url 'home' %}#contacto">Contacto</a></li>
                    </ul>
                    <section class="left-border column mobile-column rich-text">
                        <article>
                            {{ single_temario.description | safe }}
                        </article>
                    </section>
                </div>
            </div>
        </section>
    </div>
    <div class="margin"></div>
</main>

<main id="contacto" class="black-background">
    <div class="margin"></div>
    <div class="black-wrapper">
        <h1>contacto</h1>
    </div>
    <div class="margin hide-mobile"></div>
    <div class="margin"></div>
</main>

<main class="black-background">
    <div class="wrapper">
        {% include 'contact_form.html' %}
        <div class="margin hide-mobile"></div>
        <div class="margin"></div>
    </div>
    <div class="black-wrapper wrapper">
        <h1 class="big"><a href="mailto:info@arte7.net">info@arte7.net</a></h1>
    </div>
    <div class="hide-mobile margin"></div>
</main>

{% endblock %}
