{% extends "base.html" %}
{% load solo_tags %}
{% load static %}
{% block header %}
{% get_solo 'cms.home' as item %}
{% include 'big_header.html' with header_video=item.video %}
{% endblock %}

{% block header-refs %}
<link rel="stylesheet" type="text/css" href="{% static "lib/css/slick.min.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "lib/css/lity.min.css" %}"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
{% endblock %}

{% block content %}
{% get_solo 'cms.home' as home %}
{% get_solo 'cms.boutique' as boutique %}
{% get_solo 'cms.contacto' as contacto %}

<main class="black-background">
    <div class="black-wrapper wrapper">
        <ul class="titles-slide">
            {% for item in list_frases %}
            <li>
                <h1>{{ item.title }}</h1>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="margin hide-mobile"></div>
    <div class="wrapper">
        <section class="messages">
            {% for item in list_messages %}
            <article class="red-message red-message-link">
                <a href="{{ item.link }}">
                    <h3>{{ item.title }}</h3>
                    <div class="rich-text">
                        {{ item.description | safe }}
                    </div>
                </a>
            </article>
            {% endfor %}
        </section>
        <div class="margin"></div>
        <section class="mosaicos">
            {% for item in list_mosaicos %}
            <article>
                <div class="cover">
                    <img src="{{ item.image.url }}" alt="{{ item.title }}">
                    <a href="{{ item.link }}"></a>
                </div>
                <h3>{{ item.title }}</h3>
            </article>
            {% endfor %}
        </section>
    </div>
    <div class="margin hide-mobile"></div>
</main>


<main id="acerca" class="black-background">
    <div class="wrapper big">
        {{  home.description | safe }}
    </div>
    <div class="margin hide-mobile"></div>
    <div class="margin hide-mobile"></div>
    <div class="margin hide-mobile"></div>
</main>

<main class="black-background">
    <div class="wrapper">
        <div class="home-foto">
            <img src="{{  home.image_objetivo.url }}" alt="objetivo">
            <div class="rich-text">
                <h2>objetivo</h2>
                {{  home.description_objetivo | safe }}
            </div>
        </div>

        <div class="margin hide-mobile"></div>

        <div class="home-foto">
            <div class="rich-text">
                <h2>resolución</h2>
                {{  home.description_resolucion | safe }}
            </div>
            <img src="{{  home.image_resolucion.url }}" alt="objetivo">
        </div>

    </div>
    <div class="margin hide-mobile"></div>
    <div class="margin hide-mobile"></div>
    <div class="margin"></div>
</main>


<main id="guia" class="black-background">
    <div class="black-wrapper wrapper">
        <h1>guía del alumno</h1>
    </div>
    <div class="wrapper">
        <div class="guia-message">
            <p>
                Estos materiales están disponibles en descarga directa.
            </p>
        </div>
        <div class="margin"></div>
        <div class="guia-messages">
            {% for item in list_guia %}
            <article class="red-message red-message-link">
                <a href="{{item.file.url}}" download>
                    <h3>{{ item.title }}</h3>
                    {% if item.description %}
                    <div class="rich-text">
                        {{ item.description | safe }}
                    </div>
                    {% endif %}
                </a>
            </article>
            {% endfor %}
        </div>
    </div>
    <div class="margin hide-mobile"></div>
    <div class="margin hide-mobile"></div>
    <div class="margin"></div>
</main>

<main id="boutique" class="black-background">
    <div class="black-wrapper wrapper">
        <h1>Boutique</h1>
    </div>
    <div class="wrapper">
        <div class="big rich-text">
            {{ boutique.description | safe }}
        </div>
        <div class="margin"></div>
        <div class="boutique-message red-message red-message-link">
            <a href="{{ boutique.link }}"><h3>visita nuestro CATÁLOGO<h3></a>
                </div>
            </div>
            <div class="margin hide-mobile"></div>
            <div class="margin hide-mobile"></div>
            <div class="margin"></div>
        </main>

        <main id="otras-escuelas" class="black-background">
            <div class="wrapper otras-escuelas">
                {% if home.link_frente %}
                <a class="escuela-item" href="{{ home.link_frente }}" target="_blank">
                    {% endif %}
                    <img class="{% if not home.link_frente %}otras-escuelas{% endif %}" src="{{ home.image_frente.url }}" alt="Frente a camara">
                    {% if home.link_frente %}
                </a>
                {% endif %}
                {% if home.link_plataforma %}
                <a class="escuela-item" href="{{ home.link_plataforma }}" target="_blank">
                    {% endif %}
                    <img class="{% if not home.link_plataforma %}escuela-item{%endif%}" src="{{ home.image_plataforma.url }}" alt="Plataforma">
                    {% if home.link_plataforma %}
                </a>
                {% endif %}
            </div>
            <div class="margin"></div>
            <div class="wrapper otras-escuelas">
                <h3>otras escuelas</h3>
            </div>
            <div class="margin hide-mobile"></div>
            <div class="margin hide-mobile"></div>
            <div class="margin hide-mobile"></div>
        </main>

        <main id="contacto" class="black-background">
            <div class="black-wrapper">
                <h1>contacto</h1>
            </div>
            <div class="wrapper">
                {% if contacto.title %}
                <div class="big">
                    <u>{{ contacto.title }}</u>
                </div>
                <div class="margin"></div>
                {% endif %}
                {% if contacto.description %}
                <div class="white-text rich-text">
                    {{ contacto.description | safe }}
                </div>
                {% endif %}
            </div>
            <div class="margin hide-mobile"></div>
            <div class="margin"></div>
        </main>

        <main class="black-background">
            <div class="wrapper">
                {% include 'contact_form.html' %}
                <div class="margin hide-mobile"></div>
                <div class="margin"></div>
            </div>
            <div class="black-wrapper wrapper">
                <h1 class="big"><a href="mailto:info@arte7.net">info@arte7.net</a></h1>
            </div>
            <div class="hide-mobile margin"></div>
        </main>

        {% endblock %}

        {% block footer-refs %}
        <script type="text/javascript" src="{% static "lib/js/slick.min.js" %}"></script>
        <script>
            $('.titles-slide').slick({
                dots: false,
                infinite: true,
                arrows: false,
                speed: 500,
                fade: true,
                cssEase: 'linear',
                autoplay: true,
                autoplaySpeed: 5000,
            });
        </script>
        <script>
            $(function() {
                var messages = $('.messages .red-message');
                var count = 0;

                function timeout(time) {
                    window.setTimeout(()=> {
                        $.map(messages, element => element.className = 'red-message');
                        messages[count].className = 'red-message active';
                        count ++;
                        if(count > messages.length - 1)
                            count = 0;
                    }, 500);

                    window.setTimeout(()=> {
                        timeout(time);
                    }, time);
                }
                timeout(4000);
            });
        </script>
        {% endblock %}
